.table-cell {
    color: rgba(0, 0, 0, 0.88);
    font-weight: 600;
    text-align: start;
    background: #fafafa;
    border-bottom: 1px solid #f0f0f0;
    padding: 8px 8px;
    position: relative;
}
.table-cell-td {
    color: rgba(0, 0, 0, 0.88);
    text-align: start;
    border-bottom: 1px solid #f0f0f0;
    padding: 8px 8px;
    position: relative;
}
